/* Create responsive grid for large and small screens */

/* large screens rules Media Query , (min-width: 700px)*/
@media screen and (min-width: 700px) {
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "button1 button2 scaleOut"
        "cloud dinosaur";
    }
}

/* small screens rules Media Query, (max-width: 600px) */
@media screen and (max-width: 600px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "button1"
        "button 2"
        "cloud"
        "dinosaur";
    }
}

/* Style buttons and apply grid-area name */

.button {
    grid-area: 'button1';
    width: 120px;
    height: 60px;
    background: rgb(12, 110, 110);
    color: paleturquoise;
    letter-spacing: normal;
    text-shadow: none;
    box-shadow: none;
    font-size: 1.2em;
}

/* button 1 animation */    
.button:hover {
    animation-name: scaleIn;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

/* keyframe for button 1 */
@keyframes scaleIn {
    0% {transform: scale(0.2);}
    85% {transform: scale(1.1);}
    100% {transform: scale(1);}
}


.button2 {
    grid-area: 'button2';
    width: 120px;
    height: 60px;
    background: rgb(12, 110, 110);
    color: paleturquoise;
    letter-spacing: normal;
    text-shadow: none;
    box-shadow: none;
    font-size: 1.2em;
}

/* button 2 animation */
.button2 {
    transition: background .3s ease-in,
                transform .5s .1s ease-in-out,
                border-radius .5 ease-in;
 }
 
 
 .button2:hover {
     transform: scale(1.3);
     background: peru;
     color: rgb(31, 58, 31);
     border-radius: 20px;
 }

/* Style h2 and apply animation parameters */

h2 {
    grid-area: 'scaleOut';
    font-family: sans-serif;
    color: greenyellow;
    text-shadow: 2px 2px 0px rgb(39, 131, 80);
/* animation parameters */
    animation-name: scaleOut;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

/* keyframe for h2 scaleouuut */
@keyframes scaleOut {
    0% {transform: scale(2.5);}
    50% {transform: scale (1.1);}
    100% {transform: scale(1);}
}

/* Cloud and animation */
.cloud01 {
    grid-area: 'cloud';
}

.cloud01:hover{
    animation-name: backForth;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

/* keyframe for cloud */
@keyframes backForth {
    0% {transform: translateX(50px);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(100px);}
}

/* Cubic bezier example - dinosaur */
.dinosaur {
    grid-area: 'dinosaur';
    animation-name: fly;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier (0.32, 0, 0.67, 0) ;
}

@keyframes fly {
    100% {transform: translateX(500%);}
}














    






















